ShopCakeManager/ShopCakeManager/Service References/ServiceReference/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_Count_UserNV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_Count_UserNVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="get_Count_UserNVResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_CountUser_PassNV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_CountUser_PassNVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="get_CountUser_PassNVResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_IDNV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_IDNVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="get_IDNVResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_MaQuyenNV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maNV" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_MaQuyenNVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="get_MaQuyenNVResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_MaHoatDong">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="maQuyen" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_MaHoatDongResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_MaHoatDongResult" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="get_Count_UserNVSoapIn">
    <wsdl:part name="parameters" element="tns:get_Count_UserNV" />
  </wsdl:message>
  <wsdl:message name="get_Count_UserNVSoapOut">
    <wsdl:part name="parameters" element="tns:get_Count_UserNVResponse" />
  </wsdl:message>
  <wsdl:message name="get_CountUser_PassNVSoapIn">
    <wsdl:part name="parameters" element="tns:get_CountUser_PassNV" />
  </wsdl:message>
  <wsdl:message name="get_CountUser_PassNVSoapOut">
    <wsdl:part name="parameters" element="tns:get_CountUser_PassNVResponse" />
  </wsdl:message>
  <wsdl:message name="get_IDNVSoapIn">
    <wsdl:part name="parameters" element="tns:get_IDNV" />
  </wsdl:message>
  <wsdl:message name="get_IDNVSoapOut">
    <wsdl:part name="parameters" element="tns:get_IDNVResponse" />
  </wsdl:message>
  <wsdl:message name="get_MaQuyenNVSoapIn">
    <wsdl:part name="parameters" element="tns:get_MaQuyenNV" />
  </wsdl:message>
  <wsdl:message name="get_MaQuyenNVSoapOut">
    <wsdl:part name="parameters" element="tns:get_MaQuyenNVResponse" />
  </wsdl:message>
  <wsdl:message name="get_MaHoatDongSoapIn">
    <wsdl:part name="parameters" element="tns:get_MaHoatDong" />
  </wsdl:message>
  <wsdl:message name="get_MaHoatDongSoapOut">
    <wsdl:part name="parameters" element="tns:get_MaHoatDongResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_Count_UserNV">
      <wsdl:input message="tns:get_Count_UserNVSoapIn" />
      <wsdl:output message="tns:get_Count_UserNVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_CountUser_PassNV">
      <wsdl:input message="tns:get_CountUser_PassNVSoapIn" />
      <wsdl:output message="tns:get_CountUser_PassNVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_IDNV">
      <wsdl:input message="tns:get_IDNVSoapIn" />
      <wsdl:output message="tns:get_IDNVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_MaQuyenNV">
      <wsdl:input message="tns:get_MaQuyenNVSoapIn" />
      <wsdl:output message="tns:get_MaQuyenNVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_MaHoatDong">
      <wsdl:input message="tns:get_MaHoatDongSoapIn" />
      <wsdl:output message="tns:get_MaHoatDongSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_Count_UserNV">
      <soap:operation soapAction="http://tempuri.org/get_Count_UserNV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_CountUser_PassNV">
      <soap:operation soapAction="http://tempuri.org/get_CountUser_PassNV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_IDNV">
      <soap:operation soapAction="http://tempuri.org/get_IDNV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_MaQuyenNV">
      <soap:operation soapAction="http://tempuri.org/get_MaQuyenNV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_MaHoatDong">
      <soap:operation soapAction="http://tempuri.org/get_MaHoatDong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_Count_UserNV">
      <soap12:operation soapAction="http://tempuri.org/get_Count_UserNV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_CountUser_PassNV">
      <soap12:operation soapAction="http://tempuri.org/get_CountUser_PassNV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_IDNV">
      <soap12:operation soapAction="http://tempuri.org/get_IDNV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_MaQuyenNV">
      <soap12:operation soapAction="http://tempuri.org/get_MaQuyenNV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_MaHoatDong">
      <soap12:operation soapAction="http://tempuri.org/get_MaHoatDong" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:50629/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:50629/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>